*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
header p{
	height:30px;
	margin-top:10px;
}
nav ul li {
    list-style: none;
	font-size: 14pt;
	margin-top:1%;
	margin-bottom:0.5%;
}
nav ul li a{
	text-decoration: none;
}
img.logo{
	display: block;
	margin: auto;
	width: 250px;
	padding-top:50px;
	padding-bottom:50px;
}


.img_per:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;	
}

.fondo {
	background-color:#222222;
}

img.newvsgot{	
	background-color:#222222;
	height:250 px; 
	width:370px; 
	display: block;
	margin: auto;
	margin-top:-8px;	
	padding:5px;
	
}
.fondo img.img_per{
	height:200px;
	width:250px;
	margin: auto;
	margin-bottom:-15px;
	margin-top:20px;
	display: block;
	border-radius:15%;	
}

.titulo {
    display:block;
	margin: auto;
	color: #FFFFFF;
	font-size: 35px;
	font-style: italic;
	margin-top:30px;	
}

.titulo.gottfried {
	margin-top:30px;
	margin-left:25%;
	margin-bottom:-15px;
	
}
.titulo.newton {
	margin-top:30px;
	margin-left:33%;
	margin-bottom:-15px;
	
}
.contenido p{
	color: #FFFFFF;
	font-size: 24px;
	text-align: justify;
	font-style: normal;
	margin:30px;
	margin-top:2%;
	margin-bottom:2.5%;

	
}

#accion{
	background-color:#12b33d;
}
#contenido{
	background-color:#0909d9;
}
#tabla{
	background-color: #ff9109;
}
#aempresa{
	background-color: #8d0ece;
}
#tabla2{
	background-color: #f01e07;
}


