*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}


nav ul li {
    list-style: none;
	font-size: 14pt;
	margin-top:1%;
	margin-bottom:0.5%;	
	
}
nav ul li a{
	text-decoration: none;
	
}
iframe{
	width:100%;
	height:1000px;
	display:block;
	margin:auto;
}
img.logo{
	display: block;
	margin: auto;
	width: 250px;
	padding-top:50px;
	padding-bottom:50px;
}
.img_per:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;	
}

.fondo {
	background-color:#222222;
}

header.alto  {

	height:50px;
}

header.alto p {
	height:30px;
	margin-top:15px;
}
footer.alto {
	height:50px;
}




.fondo img.img_per{
	height:200px;
	width:250px;
	margin: auto;
	margin-bottom:10px;
	margin-top:20px;
	display: block;
	border-radius:15%;	
}

.titulo {
    display:block;
	margin: auto;
	color: #FFFFFF;
	font-size: 28px;
	font-style: italic;
	margin: auto;	
}


.contenido p{
	color: #FFFFFF;
	font-size: 19px;
	text-align: justify;
	font-style: normal;
	margin:30px;
	margin-top:2%;
	margin-bottom:2.5%;

	
}
.carousel {
	background-color:#222222;
	max-width: 800px;
	margin: 0 auto;
	margin-top:-8px;
	display: flex;
	padding:10px;
}
	/*height:250 px; 
	width:370px;*/

#imagen {
	
	margin:auto;
    width:370px;
    height: 250px;
    background-size: cover;
    opacity:1;
	transition: all 1s ease-in-out;


}

#accion{
	background-color:#12b33d;
}
#contenido{
	background-color:#0909d9;
}
#tabla{
	background-color: #ff9109;
}
#aempresa{
	background-color: #8d0ece;
}
#tabla2{
	background-color: #f01e07;
}


