/* Estilos generales del juego */
body {
  font-family: sans-serif;
  text-align: center;
}
ul h1{
	color: #FAEBD7;
}
#pregunta img {
  margin-top:-40px;
  max-width: 550px; /* Ajusta el tamaño máximo de la imagen de la pregunta */
  height: auto;
}

#respuestas img {
  margin-top:-50px;
  max-width: 210px; /* Ajusta el tamaño máximo de las imágenes de las respuestas */
  height: auto;
  margin: auto;
  cursor: pointer; /* Indica que las imágenes son ক্লিকables */
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}


.correcto {
  color: #FAEBD7;
}

.incorrecto {
  color: #FAEBD7;
}
#game{
	background-color:#12b33d;
	margin-top:5px;
	margin-left:39%;
    width:350px;
    height: 80px;

}
#puntuacion{
	background-color: #f01e07;
	
}

