* Estilos generales del juego */
body {
  font-family: sans-serif;
  text-align: center;
}
ul h1{
	color: #FAEBD7;
}
#pregunta img {
        display: block;
        margin-left: 50px;
        width: 550px;
        padding-top:50px;
        padding-bottom:50px;
}


#resultado {
  margin-top: 20px;

}


.correcto {
  color: #FAEBD7;
}

.incorrecto {
  color: #FAEBD7;
}
#game{
 
	background-color:#12b33d;
   

}
#puntuacion{
	background-color: #f01e07;
	
}

