* Estilos generales del juego */
body {
  font-family: sans-serif;
  text-align: center;
}
ul h1{
	color: #FAEBD7;
}
#pregunta img {
        display: block;
        margin: auto;
        width: 550px;
        padding-top:50px;
        padding-bottom:50px;
}

#respuestas img {

  width: 210px; /* Ajusta el tamaño máximo de las imágenes de las respuestas */
  height: auto;
    background-size: cover;

  cursor: pointer; /* Indica que las imágenes son ক্লিকables */
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}


.correcto {
  color: #FAEBD7;
}

.incorrecto {
  color: #FAEBD7;
}
#game{
 width: 350px;
	background-color:#12b33d;
    height: 80px;
margin-left: 200px;

}
#puntuacion{
	background-color: #f01e07;
	
}

